body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.page-wrapper{
    width: 70%;
    margin: auto;
}
header{
    
    height: 50px;
    background-color: #FFCC01;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.logo{
    all: unset;
    cursor: pointer;
    font-size: 35px;
    font-weight: 700;
    color: #3EA316;
    background-color: white;
    padding:5px 10px;
    border-radius: 5px;
}
.nav{
    all: unset;
    list-style: none;
    display: flex;
    justify-content:space-evenly;
    gap:10px;
    align-items: center;

}
.nav button{
    background-color: #3EA316;
    border:none;
    border-radius: 5px;
    width:250px;
    height: 100%;
    padding:1rem;
    cursor: pointer;
}
.nav a{
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-weight: 600;
    
}
.card-list{
    display: flex;
    flex-direction: column;
    
}
.card{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 144px;
    border-bottom: 1px solid #e3e3e3;;
}
.card-description{
    padding-bottom:9rem;
}
.card p{
    text-align: center;
    color: #606060;
    font-size: 12px;
    margin-top: 7px;
    flex:0.8;
}
.card h1{
    font-size: 18px;
    font-weight: 600;
    color: #339900;
}
.card h2{
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.card h2::after{
    content: " €"
}
.glasses-image{
    width: 200px;
    height: 100%;
    flex:1;
    object-fit: cover;
    
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: space-between;
    flex:3;
}
#photo{
    width:100%;
}
.title{
    color: #333;
    font-size: 20px;
    font-weight: 600;
}
.location{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.id{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: #f3f3f3;
    border: 1px solid #e3e3e3;
    border-bottom: none;
    border-top: none;
    height: 40px;
}
.id::before{
    content: "ID:";
}
.location-title-price-wrapper{
    display: flex;
    justify-content: space-between;
    padding:1rem;
}
.price {
    color: #419422;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-align: right;
}
.price::after {
    content: " €";
}
.description-wrapper{
    position: relative;
    
}
.description{
    padding:1rem;
    padding-bottom: 3rem;
}
.deleteBtn{
    position: absolute;
    right:20px;
    border: none;
    color: #e3e3e3;
    background-color: red;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    cursor: pointer;

}
.deleteBtn:hover{
    background-color: rgb(154, 5, 5);
}
.deleteMessage{
    color:#339900;
    text-align: center;
    font-size: 20px;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    gap:2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.input{
    padding:8px;
    border-radius: 4px;
    border: 2px rgb(108, 107, 107) solid;
    text-align: center;
}
.addBtn{
    font-size: 18px;
    border: none;
    color: white;
    background-color: #339900;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
}
.addMessage{
    height: 50px;
    text-align: center;
    font-size: 20px;
}
@media only screen and (max-width: 992px) {
    .logo{
        font-size: 15px;
         
    }
    .nav button{
        width:150px;
        padding:0.5rem;
    }
    .nav a{
        font-size: 15px;
    }
    header{
        height: 60px;
        padding: 0.5rem;
    }
    .text-wrapper{
        gap:10px;
    }
    .card h1{
        font-size: 10px;
    }
}