body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
}
.page-wrapper{
    width: 60%;
    margin: auto;
}
header{
    
    height: 90px;
    background-color: #FFCC01;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
.logo{
    font-size: 35px;
    font-weight: 700;
    color: #3EA316;
}
.nav{
    all: unset;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content:space-evenly;
    align-items: center;

}
.nav button{
    background-color: #3EA316;
    display: flex;
    border:none;
    border-radius: 5px;
    height: 80px;
    width:250px;
    justify-content: center;
    align-items: center;
}
.nav a{
    all: unset;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-weight: 600;
    
}
.card-list{
    display: flex;
    flex-direction: column;
    
}
.card{
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 144px;
    border-bottom: 1px solid #e3e3e3;;
}
.card p{
    text-align: center;
    color: #606060;
    font-size: 12px;
    margin-top: 7px;
    flex:0.8;
}
.card h1{
    font-size: 18px;
    font-weight: 600;
    color: #339900;
}
.card h2{
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.card h2::after{
    content: " €"
}
.glasses-image{
    width: 200px;
    height: 100%;
    flex:1;
    
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: space-between;
    flex:3;
}